#ifndef arduino_secrets_h
#define arduino_secrets_h

class ArduinoSecrets
{
    public:

        const int WIFI_ELEMENTS_LENGTH = 2;
        const String WIFI_SSIDS[2] = { "", "" };
        const String WIFI_SSID_PASSWORDS[2] = { "", "" };
        const char* PI_HOLE_API_TOKEN = "";
};

ArduinoSecrets arduinoSecrets;

#endif