#ifndef arduino_secrets_h
#define arduino_secrets_h

class ArduinoSecrets
{
    public:
        const char* HOUSE_SSID =  "";
        const char* HOUSE_PASSWORD = "";
        const char* SHED_SSID = "";
        const char* SHED_PASSWORD = "";
        const char* PI_HOLE_API_TOKEN = "";
};

ArduinoSecrets arduinoSecrets;

#endif